.page_wrapper {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-areas:
        'header'
        'content'
        'footer';
    grid-template-rows: 72px auto 120px;
    
}

.content_wrapper {
    background-color: rgba(242, 242, 242, 1);
    // display: flex;
    // align-items: flex-start;
    // justify-content: center;
}

// .content {
//     margin: auto;   
// }
