@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;700&display=swap');

.input {
    width: 316px;
    height: 48px;
    margin-bottom: 16px;
    border-radius: 4px;
    border: 1px solid rgba(42, 47, 55, 0.08);
    background-color: rgba(42, 47, 55, 0.02);
}

.input:focus {
    outline: 0;
    border-bottom: 2px solid rgba(72, 119, 242, 1);
    ;
}

.error {
    width: 316px;
    height: 48px;
    margin-bottom: 16px;
    border-radius: 4px;
    border: 1px solid red;
    background-color: rgba(42, 47, 55, 0.02);
}

.label {
    position: relative;
    display: flex;
}

.button {
    position: absolute;
    background-color: transparent;
    border: none;
    right: 16px;
    top: 16px;
}



.input::placeholder {
    color: rgba(42, 47, 55, 1);
    opacity: 50%;
    padding-left: 16px;
}

@media screen and(max-width: 900px) {
    .input {
        width: 300px;
    }
}

@media screen and(max-width: 450px) {
    .input {
        width: 256px;   
    }
}