@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;700&display=swap');
@import '../../../assets/style/vars.scss';


.wrapper {
    height: auto;
    background-color: rgba(255, 255, 255, 1);
    margin: auto;
}

.container {
    max-width: 1171px;
    display: flex;
    margin: auto;

    &_title {
        color: $title-color;
        font-size: 48px;
        font-weight: 700;
        margin-top: 168px;
        margin-bottom: 40px;
        width: 464px;
        line-height: 56px;
    }

    &_text {
        color: $text-color;
        font-size: $text-size;
        line-height: 24px;
        font-weight: 400;
        margin-bottom: 168px;
    }

    &_image {
        filter: contrast(90%);
        
    }
}

.block_images {
position: relative;
}

.elips_left {
    position: absolute;
    border-radius: 50%;
    background-color: #a2bcfe;
    filter: blur(51px);
    width: 179px;
    height: 176px;
    left: 251px;
    top: 210px;
    opacity: 50%;
}

.elips_right {
    position: absolute;
    border-radius: 50%;
    background-color: rgba(160, 255, 244, 0.85);
    filter: blur(40px);
    width: 173px;
    height: 173px;
    left: 438px;
    top: 316px;
    opacity: 64%;
}


.container_menu {
    max-width: 1171px;
    display: flex;
    margin: auto;
}

.main_link_active {
    background-color: rgba(255, 172, 40, 1);
}

.container_list {
    background-color: rgba(242, 242, 242, 1);
}

.wrapper_menu {
    max-width: 1171px;
    margin: auto;
}

.menu_h1 {
    margin-top: 80px;
    margin-bottom: 40px;
}

.items_card {
    max-width: 1171px;
    margin: auto;
    // display: grid;
    // grid-template-columns: repeat(3, 1fr);
    // grid-template-rows: repeat(3, 1fr);
    // grid-gap: 40px;
    margin-bottom: 40px;
}

.button_board {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 242px;
    height: 48px;
    background-color: transparent;
    border: 1px solid rgba(72, 119, 242, 1);
    border-radius: 4px;
    color: rgba(72, 119, 242, 1);
    margin: auto;
    margin-bottom: 40px;
    cursor: pointer;
}

.button_board svg {
    margin-right: 12px;
}


@media screen and (max-width: 900px) {
    .container {
        width: 671px;
        height: 224px;
        margin-bottom: 40px;
        margin-left: 25px;

    &_title {
        margin-top: 72px;
        font-size: 36px;
        margin-bottom: 32px;
        width: 340px;
        

    }

}

.container_image {
    width: 480px;
    position: absolute;
    top: -12px;
    left: -101px;
}

.elips_left {
display: none;
}
.elips_right {
    display: none;
    }


}


@media screen and(max-width: 450px) {

    .container {
        // max-width: 320px;
        margin: auto;
        height: auto;
        flex-direction: column-reverse;

    &_text {
        display: none;
    }

    &_title {
        margin-top: 247px;
        font-size: 24px;
        margin-bottom: 32px;
        width: 228px;
        margin-left: 48px;

    }

}

.wrapper {
    width: 450px;
}

.container_image {
    width: 438px;
    left: -58px;
    top: -31px;
}
}