// colors
// $main-color: #3c5280;
// $sub-color: #272b33;
$title-color: #1D1D1D;
$text-color: #424242;


// @font-face {
//     font-family: 'Jost', sans-serif;
//     src: url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');
// }
//fonts
// $font-family: url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');
// $title: 'Jost', sans-serif;


//vars
$title-size: 36px;
$text-size: 16px;
