@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;700&display=swap');
@import '../../../assets/style/vars.scss';


.block_right_wrapper {
    display: flex;
    flex-direction: column;
}

.block_right {
    margin-top: 88px;
    display: flex;
    flex-direction: column;
    margin-left: 102px;
}

.right_price {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    color: rgba(42, 47, 55, 1);
}

.block_telephone {
    display: flex;
    width: 315px;
    align-items: center;
    margin-top: 24px;
    margin-bottom: 72px;
}


.right_button {
    width: 135px;
    height: 40px;
    border-radius: 4px;
    background-color: rgba(72, 119, 242, 1);
    color: rgba(255, 255, 255, 1);
    border: none;
    cursor: pointer;
    margin-right: 17px;
    
}





.right_span {
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    color: rgba(42, 47, 55, 1);
    margin-bottom: 24px;
}

.right_img {
    width: 303px;
    height: 190px;
    margin-bottom: 28px;
}

.span_h {
    font-weight: 700;
}

.see_product {
    margin-bottom: 28px;
}