.burger_btn {
    width: 24px;
    height: 24px;
    z-index: 1;
    cursor: pointer;
    display: none;
    position: absolute;
    right: 24px;
    top: 24px;
}

.burger_btn::before {
    content: '';
    position: absolute;
    top: 0;
    width: 28px;
    border: 2px solid rgba(42, 47, 55, 1);
    border-radius: 5px;
    opacity: 50%;
}

.burger_btn span {
    position: absolute;
    width: 28px;
    top: 10px;
    border: 2px solid rgba(42, 47, 55, 1);
    border-radius: 5px;
    opacity: 50%;
}

.burger_btn::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 28px;
    border: 2px solid rgba(42, 47, 55, 1);
    border-radius: 5px;
    opacity: 50%;
}



.burger_btn::before:nth-child(1) {
    
    transform: rotate(-45deg) translate(6px, -2px);
    transform-origin: left top;
}

.burger_btn span:nth-child(2) {
    transform: scale(0) ;
}

.burger_btn::after:nth-child(3) {
    
    transform: rotate(45deg) translate(-3px, -21px);
    transform-origin: right bottom;
}


@media  screen and(max-width: 900px) {
    .burger_btn {
        display: block;
    }
    
}

@media  screen and(max-width: 450px) {
    .burger_btn {
        position: absolute;
        z-index: 3;
        left: 16px;
        top: 25px;
    }
    
}